

/* Table of content
======================================
************** common css ************
1)Reset css
2)Top header section
3)Menu bar section
4)Inner page heading
5)Product card
6)Footer section
======================================
*************** Home Page **************
1)Top header section
2)Menu bar section
3)Banner section
4)Feature section
*/

/* reset css */
body{
    font-family: var(--primary-font);
}
p{
    font-family: var(--secondary-font);
}
h1,h2,h3,h4,h5,h6
ul,ol,span,small,p{
    margin: 0;
    padding: 0;
}
ol,ul{
    list-style-type: none;
}
a,a:hover{
    text-decoration: none;
}
input:focus{
    outline: none;
}
.form-control:focus{
    box-shadow: none;
}
/* reset css */
:root{
    --primary-font: 'Josefin Sans', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --text-color:#11161e;
    --dark-hover-color:#151a32;
    --light-color:#ffffff;
    --dark-color:#000000;
    --primary-color-light:#ff6f61;
    --primary-color-dark:#ff5645;
    --paragraph-color:#444444;
    --bg-color-light:#f1f1f1;
    --bg-color-dark:#f1f3f4;


}
/* common css start */
#new_arrival_product h2{
    font-family:var(--primary-font);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    color: var(--dark-color);
    text-align: center;
    margin-bottom: 36px;
}                     
.product_box{
    border: 1px solid var(--bg-color-dark);
    position: relative;
    overflow: hidden;
} 
.product_box .product_img{
   position: relative;
   overflow: hidden;
}
#new_arrival_product .product_box .product_info h5{
    font-family: var(--primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: var(--text-color);
    margin-top: 24px;
} 
#new_arrival_product .product_box .product_info del{
    color: var(--Gray-4, #BDBDBD);
    font-family:var(--primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-left: 10px;
    
}
#new_arrival_product .product_box .product_info h3{
    font-family:var(--primary-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    color: var(--text-color);
}  
#new_arrival_product .product_box .product_info i{
    color: var(--primary-color-dark);
}
.product_box .product_img .product_img_hover{
    position: absolute;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    transition: .6s;
} 
.product_box:hover .product_img_hover{
    opacity: 1;
    visibility: visible;  
    transform: scale(1.2);
}
.product_box .product_action_btm{
    position: absolute;
    right: -50px;
    top: 44px;
} 
.product_box:hover .product_action_btm{
    right: 17px;
}
.product_box .product_action_btm ul li a{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: inline-block;
    background-color: var(--light-color);
    text-align: center;
    line-height: 40px;
    color: var(--dark-hover-color);
    margin-bottom: 10px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.08);
    transition: .5s;

}
.product_box .product_action_btm ul li a:hover{
    background-color: var(--primary-color-dark);
    color: var(--light-color);
} 
.product_box .product_badge{
    background-color:var(--primary-color-light);
    position: absolute;
    left: 24px;
    top:0;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
    color: var(--light-color);
    line-height: 26px;
    padding: 8px 0;
    border-radius: 13px 13px 0 0;

}
/* common css end */
                                        /* Top header section  start*/
#top_bar{
    background: var(--dark-hover-color);
    padding: 11px 0;
    height: 50px;
}
#top_bar .top_bar_left p i{
    color: var(--primary-color-dark);
    padding-right: 5px;
}
#top_bar .top_bar_left p{
    color: var(--light-color);
    line-height: 28px;
}
#top_bar .top_bar_left p span{
    color: var(--primary-color-light);
    line-height: 26px;
}
#top_bar .top_bar_right li select,
#top_bar .top_bar_right li a{
    border: none;
    background: none;
    color: var(--light-color);
    cursor: pointer;
}
#top_bar .top_bar_right li select option{
    color: var(--text-color);
}
#top_bar .top_bar_right .info li{
    padding: 0 20px;
    border-right: 1px solid var(--bg-color-dark);
}
#top_bar .top_bar_right .icon li a{
    padding-left: 10px;
    transition: .3s;
}
#top_bar .top_bar_right .icon li a:hover{
    color: var(--primary-color-dark)}
                    /* Top header section end */
                      /* nav section start */
   #nav .nav_menu ul:first-child li a{
     color: var(--text-color);
     padding: 37px 15px;
     line-height: 26px;
     transition: .4s;
}
#nav .nav_menu ul:first-child li a:hover{
     color: var(--primary-color-light);
}
#nav .nav_menu ul:first-child li a i{
     font-size: 12px;
}
#nav .nav_icon li a,
#nav .nav_icon li button{
     border: none;
     background: none;
     color: var(--text-color);
     font-size: 20px;
     padding-left: 20px;
     transition: .4s;
}
#nav .nav_icon li a:hover{
     color: var(--primary-color-light);
}
#nav .nav_icon li button:hover{
     color: var(--primary-color-light);
}
#nav .nav_icon .card_show_btn span{
     position: absolute;
     right: -4px;
     top:-2px;
     display: inline-block;
     font-size: 14px;
     height: 17px;
     width: 17px;
     border-radius: 50%;
     background: var(--primary-color-dark);
     color: var(--light-color);
}
                      /* nav section end */
                      /* banner section start */
#banner .banner_slider_items{
    background-size: cover;
    background-position: center;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}     
#banner .banner_slider_items .item1 h5{
    font-family: var(--primary-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    color: var(--bg-color-light);
    margin-bottom: 14px;

}  
 
#banner .banner_slider_items .item1 h2{
    font-family: var(--primary-font);
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 74px;
    color: var(--bg-color-light);
    margin-bottom: 14px;

}    
#banner .banner_slider_items .item1 p{
    font-family:var(--secondary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: var(--bg-color-light);
    margin-bottom: 16px;
}    
#banner .banner_slider_items .item1 a{
    font-weight: 600;
    line-height: 28px;
    color: var(--light-color);
    background-color: var(--primary-color-dark);
    padding: 15px 11px;
    margin: 15px 0;
    transition: .5s; 
}
#banner .banner_slider_items .item1 a:hover{
    color: var(--primary-color-dark);
    background-color: var(--light-color);
}
#banner .banner_slider_items .item1 a i{
    padding: 0 10px;
}
#banner .banner_slider_items .item2 h5{
    font-family: var(--primary-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    color: var(--dark-color);
    margin-bottom: 14px;

}  
 
#banner .banner_slider_items .item2 h2{
    font-family: var(--primary-font);
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 74px;
    color: var(--dark-color);
    margin-bottom: 14px;

}    
#banner .banner_slider_items .item2 p{
    font-family:var(--secondary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: var(--dark-color);
    margin-bottom: 16px;
}    
#banner .banner_slider_items .item2 a{
    font-weight: 600;
    line-height: 28px;
    color: var(--light-color);
    background-color: var(--dark-color);
    padding: 15px 11px;
    margin: 15px 0;
    transition: .5s; 
}
#banner .banner_slider_items .item2 a:hover{
    color: var(--dark-color);
    background-color: var(--primary-color-light);
}
#banner .banner_slider_items .item2 a i{
    padding: 0 10px;
}
#banner .banner_slider_items .item3 h5{
    font-family: var(--primary-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    color: var(--bg-color-light);
    margin-bottom: 14px;

}  
 
#banner .banner_slider_items .item3 h2{
    font-family: var(--primary-font);
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 74px;
    color: var(--bg-color-light);
    margin-bottom: 14px;

}    
#banner .banner_slider_items .item3 p{
    font-family:var(--secondary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: var(--bg-color-light);
    margin-bottom: 16px;
}    
#banner .banner_slider_items .item3 a{
    font-weight: 600;
    line-height: 28px;
    color: var(--light-color);
    background-color: var(--primary-color-dark);
    padding: 15px 11px;
    margin: 15px 0;
    transition: .5s; 
}
#banner .banner_slider_items .item3 a:hover{
    color: var(--primary-color-dark);
    background-color: var(--light-color);
}
#banner .banner_slider_items .item3 a i{
    padding: 0 10px;
}
#banner ul.banner_slider_dots{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 12px;
    bottom: 200px;
}
#banner ul.banner_slider_dots li{
    line-height: 0;
    margin-right: 5px;
}
#banner ul.banner_slider_dots li button{
    border: none;
    width: 10px;
    height: 6px;
    border-radius: 5px;
    background-color: var(--light-color);
    font-size: 0;
    transition: .5s;
}
#banner ul.banner_slider_dots li.slick-active button{
    width: 26px;
    background-color: var(--primary-color-dark);
}
#banner ul.banner_slider_dots li:nth-child(2).slick-active button{
    width: 26px;
    background-color: var(--dark-color);
}
                      /* banner section end */
                      /* feature section start */
#Feature{
    margin: 100px 0;
}
#Feature .feature_items{
    position: relative;
    color: var(--light-color);
}    
#Feature .feature_items .overlay{
    position: absolute;
    inset: 20px;
    background-color: rgba(0,0,0,.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(.8);
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}    
#Feature .feature_items .overlay h3{
    font-family:var(--primary-font);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    color: var(--bg-color-light);
    margin-bottom: 12px;
    transition: .5s;
} 
#Feature .feature_items:hover .overlay{
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}
#Feature .feature_items .overlay h3:hover{
    color: var(--primary-color-light);
}
#Feature .feature_items .overlay a{
    /* display: block; */
    color: var(--light-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    display: flex;
    align-items: center;
    position: relative;
    transition: .6s;
} 
#Feature .feature_items .overlay a:hover{
    color: var(--primary-color-dark);
}  
#Feature .feature_items .overlay a::after{
    content: '';
    position: absolute;
    border: 1px solid var(--primary-color-light);   
    bottom: 0;
    left: 0;
    background-color: var(--primary-light);
    width: 0%;
    transition: .4s ;
}
#Feature .feature_items .overlay a:hover::after{
    width: 100%;
}
#Feature .feature_items .overlay a i{
    margin-left: 5px;
}

                     /* New arrival product section start */
#new_arrival_product .product_box{
    margin: 0 12px;
}
#new_arrival_product .new_arrival_product_slider .new_arrival_product_arrows{
    width: 30px;
    height: 50px;
    background-color: var(--paragraph-color);
    color: var(--light-color);
    font-size: 15px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    top: 50%;
    transform: translateY(-50%);
}
#new_arrival_product .new_arrival_product_slider .new_arrival_product_arrows.fa-chevron-left{
    left: 12px;
}

#new_arrival_product .new_arrival_product_slider .new_arrival_product_arrows.fa-chevron-right{
    right: 12px;
}        
                     /* New arrival product section end */
                     /* New arrival product banner start */
 
#New_arrival_product_banner{
    background: url(./../images/banner/hero\ img\ 4.jpg);
    background-position: center;
    background-size: cover;
    padding: 110px;
    margin: 90px 0;
}
#New_arrival_product_banner h3{
    color: var(--light-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 46px; 
}
#New_arrival_product_banner p{
    color: var(--light-color);
    line-height: 28px;
    padding: 10px 0 30px 0;
}
#New_arrival_product_banner a{
    color: var(--light-color);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    background: none;
    border: 1px solid var(--bg-color-light);
    padding: 10px 30px;
    transition: .4s;
}
#New_arrival_product_banner a:hover{
    background: var(--primary-color-light);
    border: 1px solid var(--primary-color-light);
}                    
                     /* New arrival product banner end */
                     /* best seller product */
#best_seller_product h2{
    font-family:var(--primary-font);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    color: var(--dark-color);
    text-align: center;
    margin-bottom: 36px;
}      
#best_seller_product .product_box .product_info h5{
    font-family: var(--primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: var(--text-color);
    margin-top: 24px;
}

#best_seller_product .product_box .product_info h3{
    font-family:var(--primary-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    color: var(--text-color);
}  
#best_seller_product .product_box .product_info i{
    color: var(--primary-color-dark);
}
#best_seller_product .product_box{
    margin-bottom: 20px;
}         
  
#best_seller_product .rightArrow{
    text-align: center;
    margin: 40px 0;
} 
#best_seller_product .rightArrow a{
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    color: var(--light-color);
    background-color: var(--primary-color-dark);
    padding: 13px 24px;
    margin-top: 10px;
    transition: .5s; 
} 
#best_seller_product .rightArrow a i{
    font-size: 15px;
    padding-left: 10px;
}

                     /* best seller product */
                     /* deals section start */
#deals h2{
    text-align: center;
    margin-top: 90px;
    font-family: var(--primary-font);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    color: var(--text-color);
}     
#deals #count_down{
    padding: 7px 74px;
    margin: 34px 0 0 0;
    border-radius: 40px;
    box-shadow: 0px 0px 10px 0px rgba(21, 26, 50, 0.10);

}  
#deals h4{
    font-family: var(--primary-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    color: var(--paragraph-color);
    margin:0 5px;
}  
#deals small{
    font-family: var(--primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: var(--paragraph-color);
    margin:0 5px;

}
#deals h3{
    color:var(--primary-color-dark);
    font-size: 80px;
    margin: 0 12px;

}

                          /* special offer section start */
.offer_info{
    margin: 100px 0 ;
}
#special_offer h4{
     color: var(--paragraph-color);
     font-family: var(--primary-font);
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
    }
#special_offer h3{
    color: var(--text-color);
    font-family: var(--primary-font);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    margin: 16px 0;
}
#special_offer p{
    color: var(--paragraph-color);
    font-family: var(--secondary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin: 16px 0 30px 0;
}
#special_offer a{
    color: var(--bg-color-light);
    font-family: var(--primary-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    background-color: var(--primary-color-dark);
    padding: 15px 13px;
    transition: .6s;
}
#special_offer a:hover{
    background-color: var(--dark-color);
}
#special_offer a i{
    margin-left: 5px;
}
#special_offer .special_offer_video{
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
}
#special_offer .special_offer_video img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#special_offer .special_offer_video a{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border: 1px solid gainsboro;
    text-align: center;
    background-color: var(--light-color);
    color: var(--primary-color-light);
    font-size: 20px;
    border-radius: 50%;
}
                     /* special offer section end */
                     /* deals section end */
                      /* feature section end */
                    /* Latest news section start */
#latest_news{
    margin: 100px 0;
}
#latest_news .latest_news_slider{
    margin: 0 -12px;
}
#latest_news h2{
    color: var(--text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 36px;
}
#latest_news .latest_news_slider .latest_news_box{
    box-shadow: 0px 5px 30px 0px rgba(17, 22, 30, 0.08);
    margin: 0 12px;
    background-color: var(--light-color);
}
#latest_news .latest_news_box .latest_news_item img{
    width: 100%;
}
#latest_news .latest_news_box .latest_news_item,
#latest_news .latest_news_box .latest_news_info{
    padding: 20px;
}
#latest_news .latest_news_box .latest_news_info h5{
    color: var(--text-color);
    font-size: 19px;
    font-weight: 600;
    line-height: 30px;
    transition: .4s;
    cursor: pointer;
}
#latest_news .latest_news_box .latest_news_info h5:hover{
    color: var(--primary-color-light);
}
#latest_news .latest_news_box .latest_news_info p{
    color: var(--paragraph-color);
    line-height: 28px; 
    padding: 2px 0 8px;
}
#latest_news .latest_news_box .latest_news_info a{
    color: var(--paragraph-color);
    font-weight: 600;
    line-height: 28px;
    transition: .4s;
}
#latest_news .latest_news_box .latest_news_info a:hover{
    color: var(--primary-color-light);
}
#latest_news .latest_news_box .latest_news_info span{
    color: var(--paragraph-color);
    line-height: 26px;
}
#latest_news ul.latest_news_slider_dots{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 50%;
    bottom: -40px;
    transform: translateX(-50%);
}
#latest_news ul.latest_news_slider_dots li {
    line-height: 0;
    margin-right: 5px;
}
#latest_news ul.latest_news_slider_dots li button {
    border: none;
    width: 10px;
    height: 6px;
    border-radius: 5px;
    background-color: var(--bg-color-dark);
    font-size: 0;
    transition: .5s;
}
#latest_news ul.latest_news_slider_dots li.slick-active button {
    width: 26px;
    background-color: var(--dark-color);
}

                       /* service section start */
#service .service_all{
    background: var(--light-color);
    box-shadow: 0px 0px 50px 0px rgba(21, 26, 50, 0.10);
    padding: 38px 38px;
    transform: translateY(50%);
}  
#service .service_box{
    border-right: 4px solid var(--bg-color-dark);
    padding: 12px 0 12px 30px;
}  
#service .service_info{
    margin-left: 10px;
} 
#service .service_info h5{
    color: var(--text-color);
    font-family: var(--primary-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}
#service .service_info p{
     color: var(--paragraph-color);
     font-family: var(--secondary-font);
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 28px;
}
#service .service_info span{
    color: var(--primary-color-light);
}    
#service .service_img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 1px solid var(--primary-color-light);
    line-height: 70px;
    text-align: center;
    font-size: 35px;

}
#service .service_box:last-child{
    border: none;
}
                       /* service section end */
                       /* footer section start */
footer{
    padding: 200px 0 100px;
    background-color: rgba(16, 15, 15, 0.902);
}   
footer .footer_first{
    padding-bottom: 70px;
    border-bottom: 1px solid var(--light-color);
} 
footer .footer_first .footer_social_icon ul li a{
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 46px;
    text-align: center;
    background-color: var(--light-color);
    color: var(--paragraph-color);
    font-size: 24px;
    transition: .4s;
    margin-right: 20px;

}
footer .footer_first .footer_social_icon li a:hover{
    background-color: var(--primary-color-light);
    color: var(--light-color);
}  
footer .footer_second{
    padding-top: 70px;
}  
footer .footer_second h3{
    color: var(--light-color);
    font-family: var(--primary-font);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
    position: relative;
}      
footer .footer_second .account ul li a{
    color: var(--light-color);
    font-family: var(--secondary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
footer .footer_second .account ul li i{
    color: var(--light-color);

}
footer .footer_second .support ul li a{
    color: var(--light-color, #FFF);
    font-family:var(--secondary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
footer .footer_second .support ul li i{
    color: var(--light-color);
}
footer .footer_second .opening ul li{
    color: var(--light-color);
    font-family: var(--secondary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
footer .footer_second .contact ul li a{
    color: var(--light-color, #FFF);
    font-family:var(--secondary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
footer .footer_second .contact ul li i{
    color: var(--primary-color-dark);
    
}
footer .footer_second .new_l p{
    color: var(--light-color);
    font-family: var(--secondary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding: 22px 0;
}
footer .footer_second .new_l  form ::placeholder{
    background-color: var(--bg-color-light);
    color: #8F8F8F; 
    font-family: var(--secondary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding: 11px 56px 11px 10px;
    border: none;

}
footer .footer_second .new_l  form button{
    text-align: center;
    font-family: var(--primary-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    color: var(--light-color);
    background-color: var(--primary-color-light);
    border: none;
    margin-left: -7px;
    transition: .5s;
}
footer .footer_second .new_l  form button:hover{
    background-color: var(--light-color);
    color: var(--dark-color);
}
footer .footer_bottom{
    background-color: rgba(255,255,255,.1);
    height: 70px;
    color: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 28px;
}
footer .footer_bottom p span{
    color: var(--primary-color-light);
} 


                       /* footer section end */
                    /* Latest news section end */
                      /* search section start */
#search{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 999999999999;
    transform: scale(0);
    transition: .5s;
}
#search.show{
    transform: scale(1);
}
#search form{
    border: 3px solid var(--primary-color-light);
    width: 50%;
    border-radius: 50px;
    padding: 15px 30px;
}
#search form input,
#search form button,
#search form input::placeholder{
    background: none;
    border: none;
    font-size: 20px;
    font-family: var(--secondary-font);
    color: var(--light-color);
}
#search .search_hide_btn{
    position: absolute;
    top: 50px;
    right: 50px;
    background: none;
    border: 1px solid var(--primary-color-light);
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    color: var(--primary-color-dark);
    font-size: 20px;
    transition: .5s;
}
#search .search_hide_btn:hover{
    background: var(--bg-color-light);
    border: 1px solid var(--bg-color-light);
    transform: rotate(60deg);
}
                      /* search section end */
                      /* product card section start */
                      
#card{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    transform: scaleX(0);
    transform-origin: right;
    transition: .5s;
}
#card.show{
    transform: scaleX(1);
}
#card .card_aside{
    background: var(--light-color);
    padding: 30px 25px 0 30px;
    height: 100vh;
    overflow: scroll;
}
#card .heading h2{
    padding: 40px 0 15px 0;
    border-bottom: 1px solid var(--bg-color-light);
    font-family: var(--primary-font);
    font-weight: 600;
}
#card nav ul li{
    padding: 15px 0;
    border-bottom: 1px solid var(--bg-color-light);
}
#card .card_aside img{
    width: 80px;
}
#card .card_info{
    margin-left: 15px;
    width: 150px;
}
#card .card_info a{
    color: var(--text-color);
    padding-bottom: 2px;
    transition: .4s;
}
#card .card_info a:hover{
    color: var(--primary-color-light);
}
#card .card_info p{
    font-size: 14px;
    color: var(--primary-color-light);
}
#card ul li i{
    padding-left: 130px;
}
#card .card_aside span{
    font-size: 18px;
    font-family: var(--secondary-font);
    display: inline-block;
    padding: 20px 0;
}
#card .card_aside .btns button{
    padding: 15px 55px;
    color: var(--light-color);
    background: var(--primary-color-light);
    transition: .5s;
    border: none;
    margin-bottom: 100px;
}
#card .card_aside .btns button:hover{
    background: var(--dark-hover-color);
}
#card .card_aside .card_hide_btn{
    position: absolute;
    font-size: 25px;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid var(--dark-color);
    border-radius: 50%;
    background: none;
    transition: .4s;
    color: var(--dark-color);
}
#card .card_aside .card_hide_btn:hover{
    background: var(--primary-color-light);
    border: 1px solid var(--primary-color-light);
    color: var(--light-color);
    transform: rotate(60deg);
}
                      /* product card section end */

                      /* pop up section start */
                      
#pop_up{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    transform: scale(1);
}
#pop_up .pop_up_info img{
    position: absolute;
    bottom: 0;
    left: 0;
}
#pop_up.hide{
   transform: scale(0);
   transition: .5s;
}
#pop_up .pop_up_info{
    width: 900px;
    height: 500px;
    background: var(--primary-color-light);
}
#pop_up .pop_up_info{
    padding: 25px 150px;
    color: var(--light-color);
    position: relative;
}
#pop_up .pop_up_info form input{
    width: 80%;
    padding: 10px 20px;
    font-family: var(--primary-font);
    border: none;
}
#pop_up .pop_up_info form button{
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    background: var(--dark-hover-color);
    color: var(--light-color);
    z-index: 2;
    transition: .4s;
    font-size: 16px;
}
#pop_up .pop_up_info form button:hover{
    background: var(--light-color);
    color: var(--text-color);
} 
#pop_up .pop_up_info h2{
    font-size: 45px;
}
#pop_up .pop_up_info p{
    padding: 25px 0;
}
#pop_up .pop_up_info .checkbox p{
    padding-left: 10px;
}
#pop_up .pop_up_hide_btn{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    border: none;
    background: none;
    color: var(--light-color);
    transition: .3s;
}
#pop_up .pop_up_hide_btn:hover{
    color: var(--dark-color);
}
                      /* pop up section end */